@import 'variables';

.recipe-card {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 4px 4px 8px -2px rgba(66, 68, 90, 1);
    -moz-box-shadow: 4px 4px 8px -2px rgba(66, 68, 90, 1);
    box-shadow: 4px 4px 8px -2px rgba(66, 68, 90, 1);
    border-radius: 5% 5% 5% 5%;
    overflow: hidden;

    &-img {
        height: 200px;
        display: block;
    }

    &-description {
        display: block;

        &:hover {
            background-color: $brigher-blue-background;
            color: $white;
        }
    }
}