<div class="recipe-card-wrapper">
    <div class="recipe-card" (click)="viewRecipeDetails(recipe?.name)">
        <a class="card-description">
            <div class="recipe-card-title-container">
                <span class="recipe-card-title">{{ recipe?.name }}</span>
                <img class= "recipe-card-image" src="{{ recipe?.imagePath }}" alt="{{ recipe?.name }} image" />
            </div>
        </a>
    </div>
</div>

<!-- <img alt="Photo of {{recipeCard?.name}}" class="recipe-card-img" src="{{recipeCard?.img ?? ''}}"> -->