@if (recipe) {
  <div class="card max-w-sm overflow-hidden glass">
    <figure>
      <img
        class="cursor-pointer hover:opacity-90"
        (click)="viewRecipeDetails(recipe.name)"
        src="{{ getImagePath() }}"
        alt="{{ recipe.name }}" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">
        <span class="cursor-pointer" (click)="viewRecipeDetails(recipe.name)">{{
          recipe.name
        }}</span>
      </h2>
      <app-badge [badge]="getTimeToPrepareBadge(recipe)"></app-badge>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
        quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
        nihil.
      </p>

      <div class="card-actions justify-end">
        @for (tag of getTags(recipe); track tag) {
          <div class="badge badge-outline">{{ tag }}</div>
        }
      </div>
    </div>
    <div class="divider mb-2"></div>
    <div class="flex p-4 pt-0 justify-between">
      <div>
        <img
          class="cursor-pointer hover:opacity-75"
          ngSrc="assets/icons/bookmark-heart-selected.svg"
          alt="bookmark icon"
          width="32"
          height="32" />
      </div>
      <div *ngIf="showSelectButton">
        <img
          *ngIf="recipe.isSelected"
          (click)="selectClickHandler()"
          class="cursor-pointer hover:opacity-75"
          ngSrc="assets/icons/plus-square-selected.svg"
          alt="plus icon"
          width="32"
          height="32" />
        <img
          *ngIf="!recipe.isSelected"
          (click)="selectClickHandler()"
          class="cursor-pointer hover:opacity-75"
          ngSrc="assets/icons/plus-square.svg"
          alt="plus icon"
          width="32"
          height="32" />
      </div>
    </div>
  </div>
}
