<div class="menu-list">
  <div class="menu-list-item">
    <a title="Meal planning" routerLink="/meal-plan/new">Meal planning</a>
  </div>
  <div class="menu-list-item">
    <a title="Browse" routerLink="/recipes">Browse</a>
  </div>
  <div class="menu-list-item">
    <a title="Create recipe" routerLink="/recipes/new" routerLinkActive="active" ariaCurrentWhenActive="page">Create
      recipe</a>
  </div>
  <div class="menu-list-item">
    <a title="Meal Plans" routerLink="/meal-plan/:name" routerLinkActive="active" ariaCurrentWhenActive="page">Meal Plans</a>
  </div>

  <div class="menu-list-item">
    <a
      title="Shopping List"
      routerLink="/shopping-list"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Shopping List</a
    >
  </div>
</div>


