<div class="menu-list">
  <div class="menu-list-item">
    <a title="Recipes" routerLink="/recipes">Recipes</a>
  </div>
  <div class="menu-list-item">
    <a
      title="Create recipe"
      routerLink="/recipes/new"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Create recipe</a
    >
  </div>
  <div class="menu-list-item">
    <a
      title="Your meal plans"
      routerLink="/meal-plans"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Meal Plans</a
    >
  </div>
  <div class="menu-list-item">
    <a title="Create meal plan" routerLink="/meal-plans/new"
      >Create meal plan</a
    >
  </div>

  <div class="menu-list-item">
    <a
      title="Shopping List"
      routerLink="/shopping-list"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Shopping List</a
    >
  </div>
</div>
