<div class="menu-list">
  <div class="menu-list-item">
    <a title="Browse" routerLink="/recipes">Browse</a>
  </div>
  <div class="menu-list-item">
    <a
      title="Create recipe"
      routerLink="/recipes/new"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Create recipe</a
    >
  </div>
  <div class="menu-list-item">
    <a title="Plan meals" routerLink="/meal-plans/new">Plan meals</a>
  </div>
  <div class="menu-list-item">
    <a
      title="Your meal plans"
      routerLink="/meal-plans"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Meal Plans</a
    >
  </div>
</div>
