@if (recipe()) {
  <div class="card max-w-sm overflow-hidden glass">
    <figure>
      <a class="cursor-pointer" [routerLink]="['/recipes', recipe().name]">
        <img
          class="cursor-pointer hover:opacity-90"
          src="{{ imagePath() }}"
          fill
          alt="{{ recipe().name }}" />
      </a>
    </figure>
    <div class="card-body">
      <h2 class="card-title">
        <a class="cursor-pointer" [routerLink]="['/recipes', recipe().name]">
          {{ recipe().name }}
        </a>
      </h2>
      <app-badge
        [badge]="recipe().timeToPrepare | prepareTimeToBadgePipe"></app-badge>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
        quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
        nihil.
      </p>

      <div class="card-actions justify-end">
        @for (tag of recipe().tags; track tag) {
          <div class="badge badge-outline">{{ tag }}</div>
        }
      </div>
    </div>
    <div class="divider mb-2"></div>
    <div class="flex p-4 pt-0 justify-between">
      <div>
        <ng-icon size="24px" name="bootstrapBookmarkStar"></ng-icon>
        <ng-icon size="24px" name="bootstrapBookmarkStarFill"></ng-icon>
      </div>
      <div *ngIf="selectable()">
        <ng-icon
          size="24px"
          (click)="this.selectClicked.emit(recipe().id)"
          [name]="
            recipe().isSelected
              ? 'bootstrapPlusSquareFill'
              : 'bootstrapPlusSquare'
          "></ng-icon>
      </div>
    </div>
  </div>
}
