<div class="flex justify-center flex-col">
  <div class="form-control flex-row justify-center">
    <label class="cursor-pointer label gap-2">
      <input
        type="checkbox"
        class="checkbox checkbox-accent"
        [(ngModel)]="shouldDisplayEntireList" />
      <span class="label-text">Pokaż całą listę</span>
    </label>
  </div>

  <!-- View by Day -->
  <div
    class="flex justify-center flex-col items-center"
    *ngIf="!shouldDisplayEntireList">
    <div *ngFor="let day of shoppingList.ingredientsPerDay">
      <h2 class="text-md md:text-xl text-secondary-content mb-2">
        {{ day.day | date: 'fullDate' }}
      </h2>
      <ul>
        <li class="list-disc" *ngFor="let ingredient of day.ingredients">
          <span class="text-sm md:text-lg">{{ ingredient }}</span>
        </li>
      </ul>
      <div class="divider"></div>
    </div>
  </div>

  <!-- View Entire List -->
  <div
    class="flex justify-center flex-col items-center"
    *ngIf="shouldDisplayEntireList">
    <ul>
      <li class="list-disc" *ngFor="let ingredient of entireShoppingList">
        <span class="text-sm md:text-lg">{{ ingredient }}</span>
      </li>
    </ul>
  </div>
</div>
