@import '_variables';

.container {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.sidebar-container {
    min-width: 216px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $pink-background;
    position: sticky;
    top: 0;


    @media screen and (max-width: 576px) {
        min-width: 108px;
    }
}


