@import '_variables';
@import 'defaults';

$headerHeight: 40px;


.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.sidebar-container {
    min-width: 150px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $pink-background;
    position: sticky;
    top: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    display: block;
    height: $headerHeight;
    background-color: $pink-background;
}

.space-from-header {
    margin-top: $headerHeight;
}

.burger-menu {
    all: unset;
    background-color: transparent;
    cursor: pointer;
    padding: 0.2rem;
}