<div class="flex join">
  <form [formGroup]="form" class="flex-grow">
    <input
      [formControl]="form.controls.search"
      class="input input-md input-primary input-bordered w-full join-item"
      placeholder="Szukaj przepisów" />
  </form>
  <button
    title="Szukaj"
    type="button"
    (click)="showFilteringSection()"
    class="btn btn-primary join-item">
    <ng-icon name="heroMagnifyingGlass" size="24px"></ng-icon>
  </button>
</div>
<section class="flex">
  <app-select
    [options]="getAvailableTags()"
    [label]="'Tagi'"
    filterByKey="text"
    [formControl]="advancedFiltersForm.controls.tags"></app-select>
  <app-select
    [label]="'Składniki'"
    [options]="getAvailableIngredients()"
    filterByKey="text"
    [formControl]="advancedFiltersForm.controls.ingredients"></app-select>
</section>
