.search-wrapper  .search-input 
{
    width: 600px;
    line-height: 36px;
    margin: auto;
    text-align: center;
    padding: 0;
    top: 30px;
    position: fixed;
    left: 40%;
    font-size: .875rem;
    box-shadow: 0 4px 10px;
    color: #4a4a4a;
}
.search-button{
    display: block;
    margin-left: 55%;
    margin-top: 30px;
    padding: 0;
    position: fixed;
    height: 40px;
    width: 30px;
}
