@import "_variables";
@import "defaults";




.search-container {
    position: fixed;
    left: 50%;
    top: 60px;

    margin-left: -150px;
    width: 300px;

    @include respond-to('extra-small') {
        margin-left: -10rem;
        width: 400px;
    }

    @include respond-to('small') {
        margin-left: -200px;
        transform: translate(20%);
        width: 400px;
    }

    @include respond-to('medium') {
        margin-left: -250px;
        transform: translate(20%);
        width: 500px;
    }

    @include respond-to('large') {
        transform: translate(10%);
        margin-left: -400px;
        width: 800px;
    }

    .search-wrapper {
        position: relative;
        display: flex;
        color: black;
    }

    .search-input {
        border: 1px solid $blue-background;
        background-color: white;
        padding: 0.5rem;
        text-align: center;
        font-size: 1rem;
        overflow: hidden;
        color: #4a4a4a;
        width: 100%;
        border-radius: 15px 0 0 15px;
    }

    .search-button {
        color: white;
        border: 0;
        padding: 0.75rem;
        padding-right: 1.5rem;
        text-align: center;
        overflow: hidden;
        background-color: $blue-background;
        border-radius: 0 15px 15px 0;
        min-width: 50px;

        &:hover {
            background-color: $darker-blue-background;
        }
    }
}