<div class="d-flex flex-center">
  <form [formGroup]="mealPlanForm" *ngIf="mealPlanForm" (ngSubmit)="submit()">
    <div>
      <div class="form-group">
        <label>Name</label>
        <input type="text" formControlName="name" class="form-control" />
        <div *ngIf="mealPlanForm.get('name')?.hasError('required')">
          Name is required.
        </div>
        <div *ngIf="mealPlanForm.get('name')?.hasError('whitespace')">
          Name cannot be just whitespace.
        </div>
      </div>
      <div class="form-group">
        <label>From</label>
        <input type="date" formControlName="fromDate" class="form-control" (focusout)="hasInteractedWithFromDate=true" />
        <div *ngIf="mealPlanForm.get('fromDate')?.hasError('pastDate')">
          Date should not be in the past.
        </div>
        <label>To</label>
        <!--focus out indicates some level of interaction, once dates are set from default to anything, the flag will change, and the form will be based on validators-->
        <input type="date" formControlName="toDate" class="form-control" (focusout)="hasInteractedWithToDate=true" />
        <div *ngIf="mealPlanForm.errors?.dateMismatch">
          'To' date should not be before 'From' date.
        </div>
      </div>
      <button type="submit" [disabled]="!mealPlanForm.valid || (!hasInteractedWithFromDate && !hasInteractedWithToDate)">Save</button>
    </div>
  </form>
</div>




