@import "_variables";

.meal-planning {
    min-width: 216px;
    height: 100vh;
    padding: 16px;
    display: flex;
    flex-direction: column;
    background-color: $pink-background;
    position: absolute;
    left: 215px;
    top: 0;
}
