$green-background: #70a9a1e1;
$blue-background: #a9e4efdc;
$brigher-blue-background: #a9e4efb0;
$darker-blue-background: #A9E4EF;
$pink-background: #ffd4caa6;
$white: white;
$grey: rgb(243, 244, 246);


$breakpoints: (
    'extra-small': (min-width: 567px),
    'small': (min-width: 767px),
    'medium': (min-width: 992px),
    'large': (min-width: 1200px)) !default;