<div class="container">
  <legend>Recipe portal</legend>

  <div class="recipeForm">
    <div>
      <form [formGroup]="recipeForm" (ngSubmit)="save()">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" formControlName="name" />
        </div>
        <div formArrayName="ingredients" class="mb-3">
          <label for="ingredients" class="form-label">Ingredients</label>
          <div *ngFor="let ingredient of ingredientsControls.controls; let i=index">
            <input title="Ingredient input" type="text" [formControlName]="i" />
          </div>
          <button type="button" (click)="addIngredient()">Add ingredient</button>
        </div>
        <div class="mb-3">
          <label for="preperationDescription" class="form-label">Preperation description</label>
          <input type="text" formControlName="preperationDescription" />
        </div>
        <div class="timeToPrepare-form">
          <label for="timeToPrepare" class="form-label">Time to Prepare</label>
          <select formControlName="timeToPrepare" >
            <option value="">--Please choose an option--</option>
            <option *ngFor="let option of timeToPrepareOptions" value="{{option}}">{{option}}</option>
          </select>

        </div>
        <button type="submit" class="">Submit</button>
      </form>
    </div>
    <div>
      <div>PREVIEW1: {{ preview }}</div>
      <div>PREVIEW2: {{ preview2 }}</div>
      <div>PREVIEW3: {{ preview3 }}</div>
    </div>
  </div>
</div>