<div *ngIf="isEditable; then editable else view "></div>

<ng-template #view>
  <h2>{{ recipe?.name }}</h2>
  <ul>
    <li *ngFor="let ingredient of recipe?.ingredients">{{ ingredient }}</li>
  </ul>
  <p>{{ recipe?.preparationDescription }}</p>
  <p>Time to prepare: {{ recipe?.timeToPrepare }}</p>

  <button type="button" (click)="enableEdit()">Edit</button>
</ng-template>

<ng-template #editable>
  <ng-container *ngIf="recipeForm">
    <form [formGroup]="recipeForm">
      <div class="form-group">
        <label>Name:</label>
        <input type="text" formControlName="name" class="form-control">
      </div>
      <div formArrayName="ingredients" class="mb-3">
        <label class="form-label">Ingredients</label>
        <div *ngFor="let ingredient of ingredientsControls.controls; let i=index">
          <input title="Ingredient input" type="text" [formControlName]="i" />
        </div>
        <button type="button" (click)="addIngredient()">Add ingredient</button>
      </div>
      <div class="form-group">
        <label>Preparation Description:</label>
        <textarea formControlName="preparationDescription" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label>Time to Prepare:</label>
        <input type="text" formControlName="timeToPrepare" class="form-control">
      </div>
      <button type="button" (click)="save()">Save</button>
      <button type="submit" [disabled]="!recipeForm.valid">Submit</button>

    </form>
  </ng-container>
</ng-template>
