<div class="dropdown">
  <div tabindex="0" role="button" class="btn m-1" (click)="toggleIsOpen()">{{ label() }}</div>
  @if (isOpen()) {
    <ul class="p-2 shadow menu z-[1] bg-base-100 rounded-box" tabindex="0">
      <li>
        <label class="input input-bordered flex items-center gap-2">
          <input
            name="wtf"
            type="text"
            class="grow"
            placeholder="Szukaj"
            (input)="onFilterChange($event)"
            [value]="filter()" />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="w-4 h-4 opacity-70">
            <path
              fill-rule="evenodd"
              d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
              clip-rule="evenodd" />
          </svg>
        </label>
      </li>
      @for (option of filteredOptions(); track option.text; let idx = $index) {
        <app-checkbox
          [value]="isSelected(option)"
          (valueChange)="handleOptionSelectionChange($event, idx)"
          [text]="option.text"></app-checkbox>
      }
    </ul>
  }
</div>
