.margin-top-20 {
    margin-top: 20px;
    //margin-left: 30px;
    //text-align: center;
    //padding-left: 10px;
    
}
.app-logo img{
    display: block;
    margin: 0 auto 16px;
    width: 160px;
    height: 60px;
}
.app-logo
{
    margin-top: 20px;
}

.btn-primary2
{
    margin-top: 40px;
    text-align: left;
    padding-left: 30px
}